<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>商品詳細</h4>
      <%= image_tag @image.item_image, size: "400x300" %>
    </div>

    <div class="col-md-8 mt-4">
      <div class="table">
        <tr>
          <td>商品名</td>
          <td><%= @item.name %></td>
        </tr>

        <tr>
          <td>商品説明</td>
          <td><%= @item.explanation %></td>
        </tr>

        <tr>
          <td>ジャンル</td>
          <td><%= @item.genre.name %></td>
        </tr>

        <tr>
          <td>税込価格(税抜き価格)</td>
          <td><%= @price.add_tax_price.to_s(:dalimited) %></td>
        </tr>

        <tr>
          <td>販売ステータス</td>
          <td><%= @item.is_sale %></td>
        </tr>

        <tr>
          <td><%= link_to "編集する", edit_adminitem_path(@item), class="btn"%></td>
        </tr>


      </div>
    </div>

  </div>
</div>