<h2>注文履歴詳細</h2>
<table class="table">
  <tbody>
    <tr>
      <th><strong>購入者</strong></th>
      <th><%= @order.customer.full_name %></th>
    </tr>
    <tr>
      <th><strong>注文日</strong></th>
      <th><%= @order.created_at.strftime('%Y/%m/%d') %></th>
    </tr>
    <tr>
      <th><rtrong>配送先</rtrong></th>
      <th><%= order.post_code %><%= order.address %><%= order.name %></th>
    </tr>
    <tr>
      <th><strong>支払方法</strong></th>
      <th><%= @order.payment_method_i18n %></th>
    </tr>
    <tr>
      <th><strong>注文ステータス</strong></th>
      <th>
        <%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
          <%= f.select :status, Order.statuses_i18n.invert, selected: @order.status %>
          <%= f.submit '更新', class:'btn btn-success' %>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>
<table class="table">
  <thread>
    <tr>
      <th><strong>商品名</strong></th>
      <th><strong>単価（税込）</strong></th>
      <th><strong>数量</strong></th>
      <th><strong>小計</strong></th>
      <th><strong>制作ステータス</strong></th>
    </tr>
  </thread>
  <tbody>
    <% order_details.each do |order_details| %>
      <%= form_with model: [order, order_details], url: admin_order_order_detail_path(order, order_details) do |f| %>
        <tr class="align-items-center">
          <td class="text-left"><%= order_details.item.name %></td>
          <td><%= order_details.price_including_tax.to_s(:delimited) %></td>
          <td><%= order_details.amount %></td>
          <td><%= calculate_subtotal(order_details).to_s(:delimited) %></td>
          <td><%= f.select :production_status, options_for_select(production_status_options(order_details)), class: "form-control" %></td>
          <td>
            <%= production_status_display(order_details) %>
            <% if order_details.production_status == "waiting" || order_details.production_status == "producting" %>
                <%= f.submit "更新", class: "btn btn-sm btn-success" %>
              <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<table class="table">
  <tr>
    <th>商品小計</th>
    <tb><%= @order.postage + '円' %></tb>
  </tr>
  <tr>
    <th>送料</th>
    <tb><%= @order.postage + '円' %></tb>
  </tr>
  <tr>
    <th>請求金額合計</th>
    <th><%= @order.postage %>円</th>
  </tr>
</table>